@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #5C80BC 50%, #004871);
  }

  #login {
    width: 90vw;
  }

  #login > #img {
    float: left;
    width: 40%;
    height: 100%;
  }

  #login > #form {
    float: right;
    width: 60%;
  }
}

@media screen and (min-width: 992px)  {
  body {
    background-image: linear-gradient(to top, #5C80BC, #004871);
  }

  #login {
    width: 990px;
  }

  #login > #img {
    float: left;
    width: 50%;
    height: 100%;
  }

  #login > #form {
    float: right;
    width: 50%;
  }
}